{% extends "base.html" %}
{% block content %}

<div class="header2">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="/record-labels">Record Labels</a>
    </nav>
</div>

<br>

<div class="image-album-display"> 
            <img src="static/css/images/R1344-007-Fleetwood-Mac-RUMOURS.webp" alt="Rumours album by Fleetwood Mac">
            <img src="static/css/images/R1344-021-Bruce-Springsteen-BORN-TO-RUN.webp" alt="Born to Run by Bruce Springsteen">
            <img src="static/css/images/R1344-052-David-Bowie-Station-to-Station.webp" alt="Station to Station by David Bowie">
            <img src="static/css/images/R1344-055-Pink-Floyd-Dark-Side-of-the-Moon.webp" alt="Dark Side of the Moon by Pink Floyd">
            <img src="static/css/images/R1344-068-Kate-Bush-Hounds-of-Love.webp" alt="Hounds of Love by Kate Bush">
            <img src="static/css/images/R1344-096-R.E.M.-Automatic-for-the-People.webp" alt="Automatic for the People by R.E.M">
            <img src="static/css/images/R1344-113-The-Smiths-The-Queen-Is-Dead.webp" alt="The Queen is Dead by the Smiths">
            <img src="static/css/images/R1344-128-Queen-A-Night-at-the-Opera.webp" alt="A Night at the Opera by Queen">
            <img src="static/css/images/R1344-042-Radiohead-OK-Computer.webp" alt="OK Computer by Radiohead">
            <img src="static/css/images/R1344-039-talking-heads-remain-in-light.webp" alt="Remain in the Light by Talking Heads">
            <img src="static/css/images/R1344-006-Nirvana-NEVERMIND-HR.webp" alt="Remain in the Light by Talking Heads">
            <img src="static/css/images/016-Clash-LONDON-CALLING.webp" alt="London Calling by The Clash">
</div>
<br>
<div class="Stock-Hub">
<h2> STOCK HUB </h2>

<div class="Low-Stock">
<h3> Low Stock </h3>
{% for album in all_albums %}
{% if album.stock < 5 %}
<h4> {{album.title}} is low in stock. Current stock is {{album.stock}}. Contact supplier to order more copies!</h4>
{% endif %}
{% endfor %}
</div>


{% endblock %}