{% extends "base.html" %}
{% block content %}

<div class="header2">
    <nav class="navbar">
        <<a href="/">Home</a>
        <a href="/albums">Albums</a>
        <a href="/record-labels">Record Labels</a>
    </nav>
</div>
<div>
    <p><a href="/albums//new">Add new album</a></p>
</div>
<hr>
    {% for album in all_albums %}
<div>
    <div>
        <ul>
            <li>
                <a href="/albums/{{album.id}}"> Title: {{ album.title }} </a>
            </li>
            <li>
                Artist: {{ album.artist }}
            </li>
            <li>
                Genre: {{ album.genre }}
            </li>
            <li>
                Record Label: {{ album.record_label.name }}
            </li>
            <li>
                Stock: {{ album.stock }}
            </li>
            <li>
                Buy Price: {{ album.buy_price }}
            </li>
            <li>
                Sell Price: {{ album.sell_price }}
            </li>
        </ul>
        {% if album.stock == 0 %} 
        <p> SOLD OUT </p>
        {% elif album.stock < 5 %}
        <p> LOW STOCK </p>
        {% endif %}


        <hr>
        <div>
            <p><a href="/albums/{{album.id}}/edit">Edit</a></p>
        </div>
        <div class="buttons">

            <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>

    
    {% endfor %}
    </div>
</div>
</div>

    {% endblock %}