{% extends "base.html" %}
{% block content %}

<div class="header2">
    <nav class="navbar">
        <<a href="/">Home</a>
            <a href="/albums">Albums</a>
            <a href="/record-labels">Record Labels</a>
    </nav>
</div>
<br>
<div class="new-or-filter-section">
    <a href="/albums//new">
        <button>Add New Album</button>
    </a>
    <form action="/filter" method="post">
        <label for="record_label">Record Label:</label>
        <select id="record_label" name="record_label_id">
            {% for record_label in record_labels %}
            <option value="{{ record_label.id }}">
                {{ record_label.name }}
            </option>
            {% endfor %}
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
</div>
<br>
<hr>
{% for album in albums %}
<div>
    <div>
        <ul>
            <li>
                <a href="/albums/{{album.id}}"> Title: {{ album.title }} </a>
            </li>
            <li>
                Artist: {{ album.artist }}
            </li>
            <li>
                Genre: {{ album.genre }}
            </li>
            <li>
                Record Label: {{ album.record_label.name }}
            </li>
            <li>
                Stock: {{ album.stock }}
            </li>
            <li>
                Buy Price: {{ album.buy_price }}
            </li>
            <li>
                Sell Price: {{ album.sell_price }}
            </li>
            <li>
                Profit: {{ album.sell_price - album.buy_price }}
            </li>
        </ul>
        {% if album.stock == 0 %}
        <p> SOLD OUT </p>
        <div class="no-stock">
            &#10060;
        </div>
        <br>
        {% elif album.stock < 5 %} <p> LOW STOCK </p>
            <div class="warning">
                &#9888;&#65039;
            </div>
            <br>
            {% endif %}
            <form action="/albums/{{album.id}}/edit" class="edit-link">
                <button class="edit-button">Edit</button>
            </form>
            <br>
            <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>

            <hr>
            {% endfor %}
    </div>
</div>

{% endblock %}